.custom-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.icon-toll {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 35px;
  height: 27px;
}

.icon-call {
  background-image: url(../img/sprite.png);
  background-position: 0px -527px;
  width: 36px;
  height: 30px;
}