.custom-writing {
  height: 470px;
   h1,h2 {
     text-transform: uppercase;
     color: $textSecondary;
     text-align: center;
   }
  h1 {
    margin-top: 62px;
  }
  .text-animation {
    width: 290px;
    margin-left: 355px;
    span {
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .img-boy {
    width: 1192px;
    height: 506px;
    position: absolute;
    background-image: url('../img/img-boy.png');
    bottom: 236px;
    left: 120px;
  }
}

.special-offer {
  color: $textSecondary;
  vertical-align: middle;
  span {
    line-height: 45px;
  }
}

.our-advantages {
  h2 {
    text-align: center;
  }
  .block {
    width: 380px;
    height: 160px;
  }
  .margin-left {
    margin-left: 15px;
  }
  .margin-bottom {
    margin-bottom: 15px;
  }
  .bl {
    p {
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
    color: $textPrimary;
    }
  }
  .icon-ad-icon {
    background-image: url(sprite.png);
    background-position: 0px -2123px;
    width: 22px;
    height: 34px;
  }
  .icon-ad-icon2 {
    background-image: url(sprite.png);
    background-position: 0px -2657px;
    width: 33px;
    height: 34px;
  }
  .icon-ad-icon3 {
    background-image: url(sprite.png);
    background-position: 0px -4263px;
    width: 24px;
    height: 40px;
  }
  .icon-ad-icon4 {
    background-image: url(sprite.png);
    background-position: 0px -1057px;
    width: 26px;
    height: 32px;
  }
  .icon-ad-icon5 {
    background-image: url(sprite.png);
    background-position: 0px -3191px;
    width: 33px;
    height: 35px;
  }
  .icon-ad-icon6 {
    background-image: url(sprite.png);
    background-position: 0px -3726px;
    width: 38px;
    height: 37px;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  .text {
    p {
      font-weight: 300;
      text-align: justify;
    }
  }
}