.custom-writing {
   h1,h2 {
     text-transform: uppercase;
     color: $textSecondary;
     text-align: center;
   }
  h1 {
    font-size: 48px;
    margin-top: 65px;
  }
  h2 {
    font-size: 36px;
  }
  .padding-top {
    padding-top: 30px;
  }
  .text-animation {
    font-weight: 300;
    font-size: 20px;
    margin-left: -48px;
    span {
      text-transform: uppercase;
      font-size: 27px;
      line-height: 30px;
    }
  }
  .img-boy {
    background: url('../img/img-boy.png') 0 120px no-repeat,
    url('../img/img-books-lamp.png') 960px 40px no-repeat,
    url('../img/light.png') 330px 85px no-repeat
  }
}

.special-offer {
  color: $textSecondary;
  vertical-align: middle;
  span {
    line-height: 45px;
  }
}

.our-advantages {
  h2 {
    text-align: center;
  }
  a {
    display: inline-block;
    //width: 375px;
    //height: 160px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 80px;
    color: $textPrimary;
    background-color: $lightGreen;
    &:hover {
      background-color: $secondaryColor;
      color: $textSecondary;
    }
    & .icon-ad-icon-white:hover {
      background: url('../img/sprite.png') 0px -1589px no-repeat;
      width: 22px;
      height: 34px;
    }
  }
  .bl {
    margin-bottom: 15px;
  }
  i {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
   }
  .icon-ad-icon {
    background: url('../img/sprite.png') 0 -2123px no-repeat;
    width: 22px;
    height: 34px;
  }
  .icon-ad-icon2 {
    background: url('../sprite.png') 0 -2657px no-repeat;
    width: 33px;
    height: 34px;
  }
  .icon-ad-icon3 {
    background: url('../sprite.png') 0 -4263px no-repeat;
    width: 24px;
    height: 40px;
  }
  .icon-ad-icon4 {
    background: url('../sprite.png') 0 -1057px no-repeat;
    width: 26px;
    height: 32px;
  }
  .icon-ad-icon5 {
    background: url('../sprite.png') 0 -3191px no-repeat;
    width: 33px;
    height: 35px;
  }
  .icon-ad-icon6 {
    background: url('../sprite.png') 0 -3726px no-repeat;
    width: 38px;
    height: 37px;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: black;
  }

  .text {
    p {
      font-weight: 300;
      text-align: justify;
    }
  }
}

.h-i-w {
  h2 {
    font-size: 36px;
    text-align: center;
    color: $textSecondary;
  }
  .HiW-block {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: $secondaryColor;
    text-align: center;
    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: #14a85c;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-top: 68px;
      position: relative;
      right: 6px;
    }
  }
  .HiW-text {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .HiW-block-center {
    text-align: center;
  }

  .HiW-block-right {
    text-align: right;
    .HiW-text {
      margin-top: 25px;
    }
  }

  .border-bottom{
    border-bottom: 1px dashed $itemColor1;
  }


  .HiW-block-2 {
    display: inline-block;
    vertical-align: bottom;
    width: 70px;
    height: 70px;
    //margin-top: 68px;
    border: 1px solid #cccccc;
    background-color: $secondaryColor;
    text-align: center;
    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: #f2c40e;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-top: -168px;
      position: relative;
      right: 6px;
    }
  }

}

.read-more {
  h2 {
    font-size: 36px;
    text-align: center;
  }
  ul li {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
  }
}