.site-header {

  .logo{
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      background-color: red;
    }
  }

  .navigation{
    .nav{
      margin-top: 30px;
      li{
        a{
          padding: 5px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border-bottom: 2px solid transparent;
          color: $textHeaderPrimary;
          font-weight: bold;
          text-transform: uppercase;
          transition: color, background-color, border-bottom-color 300ms;
          white-space: nowrap;
          &:hover{
            color: red;
            background-color: transparent;
            border-bottom-color: red;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .contact-social{
      span{
        display: none;
      }
    }
  }
}




