<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<header class="site-header">
    <div class="contact-info bg-green">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-lg-4">
                    <div class="contact-phone">
                        <i class="custom-icon icon-toll"></i>
                        <span>Toll for free:</span>
                        <a href="tel:+10441470235" >+1-(044)-147-0235</a>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-4">
                    <div class="contact-phone">
                        <i class="custom-icon icon-call"></i>
                        <span>Call now:</span>
                        <a href="tel:+10441470336" >+1-(044)-147-0336</a>
                    </div>
                </div>
                <div class="col-sm-2 col-lg-4">
                    <div class="contact-social">
                        <a href="https://www.facebook.com/" class="facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/" class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://pinterest.com" class="pinterest">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                        <span>Join us:</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-md-12 col-lg-3 no-padding">
                    <a href="#" class="logo"></a>
                </div>
                <div class="col-xs-5 col-md-12 col-lg-9 no-padding">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <div class="button-menu" onclick="myFunction(this)">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                            </div>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service & Prices</a></li>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Discounts</a></li>
                            <li><a href="#">Order now</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Samples</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                    <ul class="nav nav-justified">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service & Prices</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Discounts</a></li>
                        <li><a href="#">Order now</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Samples</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</header>
