<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<section class="main-head">
    <div class="container-fluid bgDarken">
        <div class="container">
            <div class="col-md-4">
                <i class="icon-call"></i>
                <span>Toll for free</span>
                <a href="tel: +10441470235">+1-(044)-147-0235</a>
            </div>
            <div class="col-md-4">
                <i class="icon-call"></i>
                <span>Call now</span>
                <a href="tel: +10441470336">+1-(044)-147-0336</a>
            </div>
        </div>
    </div>
</section>
<div class="menu"></div>

