<main>
    <section class="h-i-w">
        <div class="container-fluid">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-xs-12">
                        <h2>How it works{h2}</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="HiW-block"></div>
                        <div class="HiW-text">1. Place Your<br> Order
                            <span>Some text</span>
                        </div>
                        <div class="round-green"></div>
                    </div>
                    <div class="col-md-4 HiW-block-center">
                        <div class="HiW-block"></div>
                        <div class="HiW-text">3. Your Order is<br> Completed</div>
                        <div class="round-green"></div>
                    </div>
                    <div class="col-md-4 HiW-block-right">
                        <div class="HiW-block"></div>
                        <div class="HiW-text">5. Download</div>
                        <div class="round-green"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="warning">Test</div>
                    <div class="danger">Test</div>
                    <div class="success">Test</div>
                </div>
            </div>
        </div>
    </div>
</main>
